/*#pbLayOutBadgeField input{*/
/*    display: none;*/
/*}*/
.pb-predefine-img{
  display: flex;
  flex-wrap: wrap;
}
.badge-layout input{
  display: none;
}
.badge-layout label{
  margin-top:5px;
  margin-right:20px;
  max-width: 125px;
  display: block;
}
.badge-layout img{
  border: 5px solid transparent;
  width: 100%;

}
.pb-predefine-img input[type="radio"]:checked + img {
  border-color: palevioletred;
}
.options_group {
  border-bottom: 1px solid #eee;
  #shop_badge_position_option{
    width: 50%;
  }
  #single_badge_position_option{
    width: 50%;
  }
  .mfwoo_create_badge {
    margin-left: 155px;
    border: 1px solid #0a4b78;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    &:hover {
      background: #f0f0f1;
      border-color: #0a4b78;
      color: #0a4b78;
    }
  }
}